https://documentation.bloomreach.com/engagement/docs/useful-jinja-snippets

https://documentation.bloomreach.com/engagement/docs/filters

https://documentation.bloomreach.com/engagement/docs/datastructures

https://tedboy.github.io/jinja2/templ14.html